In [ ]:
a = ['spam', 'eggs', 100, 1234, 2*2]
print(a[0])
print(a[:4])

In [ ]:
a[2] = a[2] + 23

In [ ]:
a[0:2] = [1,12]

In [ ]:
print(a)

In [ ]:
a[0:1] = []

In [ ]:
lis = [ 1, [5, 6], 7]
print(lis[1][1])

In [ ]:
list = range(3)

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:',  friend)

In [ ]:
for i in range(len(friends)) :
    friend = friends[i]
    print('Happy New Year:',  friend)

In [ ]:
friends.sort(reverse=True)
print(friends)
print(friends[1])

In [ ]:
friends.sort(reverse=True)
print(friends)
print(friends[1])

In [ ]:
t = [9, 41, 12, 3, 74, 15]
t[::-2]

In [ ]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)
stuff.append('cookie')
print(stuff)

In [ ]:
fruit = 'Banana'
#fruit[0] = 'b'
x = fruit.lower()
print(x)

In [ ]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : 
        break
    value = float(inp)
    total = total + value     
    count = count + 1
average = total / count
print('Average:', average)

In [ ]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

In [ ]:
abc = 'With three words'
stuff = abc.split('h')
print(stuff)
print(len(stuff))
print(stuff[0])

In [ ]:
line = 'From salman.amir@gmail.com Sat Jan  5 09:14:16 2020'
words = line.split()
print(words)
email = words[1]
print(email)
pieces = email.split('@')
print(pieces[1])

In [ ]:
d = { "foo" : 1, "bar" : 2 }
print(d["bar"])   # 2
some_dict = {}
some_dict["foo"] = "yow!"
some_dict["bar"] = "Dog!"
print(some_dict.keys()) # ["foo"]

In [ ]:
list

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:',  friend)

In [ ]:
for i in range(len(friends)) :
    print(len(friends))
    print(i)
    friend = friends[i]
    print('Happy New Year:',  friend)

In [ ]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : 
        break
    value = float(inp)
    total = total + value     
    count = count + 1

In [ ]:
print(count)

In [ ]:
print(total)
average = total / count
print('Average:', average)

In [ ]:
line = 'From salman.amir@gmail.com Sat Jan  5 09:14:16 2020'
words = line.split()
words

In [ ]:
email = words[1]
print(email)

In [ ]:
pieces = email.split('@')
print(pieces[1])

In [ ]:
a = (123, 54, 92) # tuple of 3 integers
b = () # empty tuple
c = ("Ala",) # tuple of a single string (note the trailing ",")
d = (2, 3, False, "Arg", None) # a tuple of mixed types

print(a)
print(b)
print(c)
print(d)

In [ ]:
x = 1.2
y = -0.3
z = 0.9
t = (x, y, z)

print(t)

In [ ]:
x,y,z = 10,20,30

In [3]:
l = 2, 3, "Hi", [1,2,3] # tuple packing
print(type(l))
print('l is', l)
x, y, z, a = l # tuple unpacking
print('x is', x)
print('y is', y)
print('z is', z)
print('a is', a)

<class 'tuple'>
l is (2, 3, 'Hi', [1, 2, 3])
x is 2
y is 3
z is Hi
a is [1, 2, 3]

In [ ]:
print(type(l))

In [ ]:
l[3]

In [ ]:
a = [1, 3, 9, 'Py', 217.213]
b = ["Python"]
c = []

print(a)
print(b)
print(c)

In [ ]:
matrix = [[input(),input()], [input(),input()]]
print(matrix)

In [ ]:
a = (1, 4, 9, 16)     # A tuple of numbers
b = ['A','B','C','d'] # A list of characters
print(a)
print(b)
l = list(a)   # Make a list based on a tuple 
print(l)
t = tuple(b)  # Make a tuple based on a list
print(t)

In [ ]:
print(id(a))
print(id(l))
print(id(b))
print(id(t))

In [ ]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]

print('t is', t)
print('t[0] is', t[0])
print('t[2] is', t[2])

print('x is', x)
print('x[-1] is', x[-1])

In [ ]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('t[1:3] is', t[1:3])
print('x[2:] is', x[2:])
print('x[:-1] is', x[:-1])

In [ ]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('123 in', x, 123 in x)
print('234 in', t, 234 in t)
print('999 not in', x, 999 not in x)

In [ ]:
a = [1, 2, 3, 4, 5]

a[2:]

In [ ]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print("length of t is", len(t))
print("number of 33s in x is", x.count(33))

In [ ]:
x = [123, 54, 92, 87, 33]
print(x)
x[2] = 33
print(x)

In [ ]:
t = (123, 54, 92, 87, 33)
print(t)
t[1] = 4

In [ ]:
x = [123, 54, 92, 87, 33]
x.append(101)
print(x)

In [5]:
x = [123, 54, 92, 87, 33]
x.insert(3, 1111)
print(x)

[123, 54, 92, 1111, 87, 33]

In [ ]:
x = [123, 54, 92, 87, 33]
x.remove(123)
print(x)

In [ ]:
x = [123, 54, 92, 87, 33]
print(x)
del x[0]
print(x)

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = "Hi"
a.extend(b)
print(a)
a.append(b)
print(a)
a.append(c)
print(a)

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a = a + b
print(a)

In [15]:
a = [1, 2, 3, 4, 5, 6]
a[-3] = [9, 9, 9, 9],[9, 9, 9, 9,(8),'hi']
print(a)
# print 'hi'
print(a[3][1][5])

[1, 2, 3, ([9, 9, 9, 9], [9, 9, 9, 9, 8, 'hi']), 5, 6]
hi

In [ ]:
x,y,z = 10,20,30

In [ ]:
a = [1, 3, 5,6, 4, 2]
a.reverse()
print(a)
b = []
b = a.sort()
print(a)
print(b)

In [ ]:
a = [2, 5, 7, 1]
b = sorted(a)
print(a)
print(b)

In [ ]:
text = "ABCDEFGH"
print(text[0])
print(text[-2])
print(text[0:6])
print("EFG" in text)
print("ABBC" in text)
print(len(text))

In [ ]:
text = "ABCDEFGH"
text[0:2] = "CCC"

In [ ]:
string = "ABCDEDCBCDEA"
index = string.find("CDE")
print("CDE is at position:", index)
index = string.rfind("CDE")
print("CDE is at position:", index)
index = string.rfind('C')
print("The last C is at position:", index)

In [ ]:
s = "     My name is Python     "
print(len(s), ".", s, ".")
print(len(s.rstrip()), ".", s.rstrip(), ".")
print(len(s.lstrip()), ".", s.lstrip(), ".")
print(len(s.strip()), ".", s.strip(),".")

In [ ]:
string = "My name is Python"
words = string.split(" ")
print(words)

letters = list(string) # a tuple of character converted into a list
print(letters)

In [ ]:
string = "My name is Python"
words = string.split(" ")
print(words)
print("|".join(words))

In [ ]:
language = "Python"
version = 3.6
print(language + str(version))

In [ ]:
l = [1, 2, 3, 2, 3] # list of 5 values
s = set(l) # set of 3 unique values
print(s)
e = set() # empty set
print(e)

In [ ]:
s = set([1, 2, 3, 2, 3])
print(s)
print("number in set:", len(s))
s.add(4)
print(s)
s.add(3)
print(s)

In [ ]:
s = set([1, 2, 3, 2, 3])
print(s)
s.remove(3)
print(s)

In [ ]:
s1 = set([2, 4, 6, 8, 10])
s2 = set([4, 5, 6, 7])

print("Union:", s1 | s2)
print("Intersection:", s1 & s2)

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print(sports)

sports['C']

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("A represents", sports["A"])
print("G represents", sports["G"])

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("What about N?", sports["N"])

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("What about N?", sports.get("N"))
print("With a default value:", sports.get("N", "asfasfasf"))

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
"T" in sports

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
"Y" not in sports

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print(len(sports))

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
sports['E'] = 'Kabaddi'
print(sports)

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
sports['F'] = 'Volley Ball'
print(sports)

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi", 'F': 'Volley Ball'}
del sports['F']
print(sports)

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(list(sports.keys()))

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(list(sports.values()))

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(list(sports.items()))